
streamlit>=1.37.0
fastapi>=0.115.0
uvicorn[standard]>=0.30.0

pandas>=2.2.2
numpy>=1.26.4
scikit-learn>=1.5.1
joblib>=1.4.2

sentence-transformers>=3.0.1
faiss-cpu>=1.8.0

Pillow>=10.4.0
pytesseract>=0.3.13

python-multipart>=0.0.9
python-dotenv>=1.0.1

requests>=2.32.3

